.activities-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    max-height: 439px;
}

.activities-card img {
    max-width: 300px;
    max-height: 380px;
    border-radius: 20px 20px 0 0; 
}