.tabs-underlined {
  display: flex;
  list-style: none;
}

@media (max-width: 767.98px) {
  .tabs-underlined {
    padding: 0px;
    width: 100%;
  }

  .tabs-underlined li {
    flex: 1;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 3px solid var(--main-bg-color);
  }

  .tabs-underlined li:hover {
    border-bottom: 3px solid var(--main-color);
  }

  #accommodations,
  #activities {
    flex: 1;
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767.98px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .navbar img {
    padding: 30px 0;
  }
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 14px 8px 8px 8px;
  margin: 8px;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined:hover {
  opacity: 1;
  color: var(--main-color);
  border-top: 3px solid var(--main-color);
}

@media (max-width: 767.98px) {
  .tabs-underlined .tab-underlined:hover {
    border-top: none;
  }
}
