.tabs-underlined {
    display: flex;
    list-style: none;

    @media (max-width: 767.98px) {
      gap: 15px;
      padding: 0px;
      width: 100%;
    }
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767.98px) {
        flex-direction: column;
        padding: 30px;
        gap: 10px;
    }
}

.tabs-underlined .tab-underlined {
    color: black;
    padding: 14px 8px 8px 8px;
    margin: 8px;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined:hover {
    opacity: 1;
    color: var(--main-color);
    border-top: 3px solid var(--main-color);

    @media (max-width: 767.98px) {
      border-top: none;
      border-bottom: 3px solid var(--main-color);
    }
}
