.tabs-underlined {
    display: flex;
    flex-direction: row-reverse;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.tabs-underlined .tab-underlined {
    color: black;
    padding: 8px;
    margin: 8px;
    opacity: .4;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    padding-top: 1.3em;
}

.tabs-underlined .tab-underlined.active {
    opacity: 1;
    border-top: 3px solid #555555;
}